<img class="wave" src="img/wave.png">
<div class="container">
  <div class="img">
    <img src="https://imgs.keralamatrimony.com/bmimgs/login/login-otp-banner.png">
  </div>
  <div class="login-content">
    <form action="index.html">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGOTXDXOzO_T82MtCHXTHzS5QZQW0ovdpgDw&usqp=CAU">
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div class="div">
          <h5 id="username">Username</h5>
          <input type="text" class="input" (click)="username()">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fa fa-key"></i>
        </div>
        <div class="div">
          <h5 id="password">Password</h5>
          <input type="password" class="input" (click)="password()">
        </div>
      </div>
      <a href="#">Forgot Password?</a>
      <input type="submit" class="btn" value="Login">
    </form>
  </div>
</div>
