<div class="col-md-8 mt-lg-5"  style="margin-left: 140px;">
  <div class="card">
    <div class="card-header" style="background-color: powderblue">Quiz Grammar</div>
    <div class="card-body" id="quiz">

      <div class="start" id="start">
        <output>Welcome to the quiz</output><br>
        <div class="card"  id="rules">
          <div class="card-header">
            <output>Rules</output>
          </div>
          <div class="card-body">
            <output>- You can't go back to the previous question</output><br>
            <output>- You have tree possibilities to answe: Unique choice, Multiple choice or Answer by replying</output><br>
            <output>- Your mark  if you choose the all correctly answers you get the question's point Else you get 0</output><br>
            <output>- Else you have 0 </output><br>
          </div>
        </div>

        <input type="button" id="btn-start" value="Start" (click)="answer()" style="background-color: lightcyan">
      </div>
      <div class="question" id="question">
        <output>{{question.numero}} - {{question.libelle}}</output>

        <form class="reponse-radio" id="reponse-radio">
          <div *ngFor="let r of reponses">
            <input (change)="getAnswerRadio($event,r)" type="{{this.typeQst}}" id="id-radio" name="rep-radio" value="{{r.lib}}" >
            <label>{{r.lib}}</label><br>
          </div>
          <input type="button" value="Check" (click)="check()" style="background-color: lightcyan">
        </form>


        <form class="reponse-text" id="reponse-text">
          <label>Your answer :    </label>
          <input #answerQuestion type="text" id="id-text" name="rep-text">
          <input type="button"  value="Check" (click)="checkInput(answerQuestion.value)" style="background-color: lightcyan">
        </form>
      </div>
    </div>
    <div class="card-body2" id="finish">
      <output>You finish this quiz</output><br>
      <output >Your note is = {{this.note}}</output>
    </div>
    <div class="card-footer" style="background-color: powderblue"></div>
  </div>
</div>
