<div class="card">
<div class="card-header"  style="background-color: lightcyan">List des étudiants</div>
<div class="card-body">
  <table class="table table-striped table-hover" >
    <thead>
    <th>nom</th>
    <th>login</th>
    <th>age</th>
    <th>ref</th>
    <th>password</th>
    <th>ville</th>
    <th>parcours</th>
    <th>centre</th>

    <th>action</th>
    </thead>
    <tbody>
    <tr *ngFor="let c  of etudiants ; index as i ">


      <td>{{c.nom}}</td>
      <td>{{c.login}}</td>
      <td>{{c.age}}</td>


      <td>{{c.password}}</td>
      <td>{{c.ville}}</td>
      <td>{{c.parcours.libelle}}</td>
      <td>{{c.parcours.centre.libelle}}</td>
      <td><span (click)="delete(c)"><i class="fa fa-trash btn btn-danger"></i></span></td>

      <td><button class="btn btn-outline-success" (click)="valider()">valider</button></td>
    </tr>
    </tbody>
  </table>

</div>
<div class="card-footer">
</div>
</div>
